<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title> <!-- @todo -->
        <meta name="description" content="I wanna rock right now">
        <meta name="generator" content="ZX Spectrum 128 +2" />
        <link rel="author" href="/humans.txt" />
  
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@t_pk" />
        <meta name="twitter:creator" content="@t_pk" />

        <link rel="icon" type="image/png" href="" /> <!-- @todo -->

        <meta property="og:image" content=""/> <!-- @todo -->
        <meta property="og:title" content=""/> <!-- @todo -->
        <meta property="og:description" content="I wanna rock right now"/> <!-- @todo -->
        <meta property="og:site_name" content=""/> <!-- @todo -->
        <meta property="og:url" content=""/> <!-- @todo -->
        <meta property="og:type" content="website" />

        <link rel="stylesheet" href="/dist/css/main.css">
    </head>
    <body>
        {% block yield %}{% endblock %}
    </body>
</html>